@page "/"

<PageTitle>Dosha Dating - Home</PageTitle>

<section>
    <MudContainer Class="animate__bounceInUp">
        <MudGrid Justify="Justify.Center">

            <MudItem xs="12" Class="d-flex justify-center">
                <MudText Typo="Typo.h2" Align="Align.Center">Find your missing piece here</MudText>
            </MudItem>

            <MudItem xs="12" Class="d-flex justify-center">
                <MudText Align="Align.Center"
                         Style="font-size: 1.25rem; font-weight: 300;">
                    Come on in to view your matches... all you need to do is sign up!
                </MudText>
            </MudItem>

            <MudItem xs="6">
                <MudDivider DividerType="DividerType.Middle" />
            </MudItem>

            <MudItem xs="12" Class="d-flex justify-center">
                <MudButton Class="mx-2"
                           Variant="Variant.Filled"
                           Color="Color.Dark"
                           @onclick="OnRegister"
                           StartIcon="@Icons.Material.Filled.EditNote"
                           Size="Size.Large">
                    Register
                </MudButton>
                <MudButton Class="mx-2"
                           Variant="Variant.Filled"
                           Color="Color.Primary"
                           @onclick="OnLogin"
                           StartIcon="@Icons.Material.Filled.Login"
                           Size="Size.Large">
                    Login
                </MudButton>
            </MudItem>


            <MudItem xs="6">
                <MudDivider DividerType="DividerType.Middle" />
            </MudItem>

            <MudItem xs="12" Class="d-flex justify-center">
                <MudText Align="Align.Left"
                         Style="font-size: 1.25rem; font-weight: 300;">
                    <p data-olk-copy-source="MessageBody">This app will re-invent online dating by creating an environment that connects you to your perfect person using Ayurveda quizzes that determines your dosha then matches you to your compatible dosha!&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>Finding your Dosha can benefit you in many ways such as knowing how you learn, when you know you need a break, what foods work with your body, emotional awareness, and even personalized health guidance!&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>Dosha Dating creates a safe trustworthy experience so you can find your perfect match.</p>
                    <p>&nbsp;</p>
                    <p>The personalized Ayurveda quizzes will be required once you download the app, by answering these questions the quiz will calculate for you to determine your dosha. You will then be able to add three photos of yourself, finally you will be given a couple prompts to add in your description like how old are you, where do you live, and what do you enjoy to do in your free time. Then the app will give you your compatible Dosha matches and thats up to you if you would like to pursue them.&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>Whether you are looking for your soulmate or a best friend, finding the complementary dosha will balance each other out leading to a very harmonious relationship. Dosha Dating will find your life partner which leads to better communication, loving each other more deeply, and being able to help each other because you can understand what your other half needs.</p>
                </MudText>
            </MudItem>


        </MudGrid>
    </MudContainer>

</section>
